<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Pagina de inicio</title>
</head>
<body>
	<div>
		<h1>Inicio del sistema</h1>
		<ul>
			<div>
				<li>
					<h4>
						<span><a th:href="@{/productorForm}">Registrar productor</a></span>
					</h4>
					<h4>
						<span><a th:href="@{/listaProductores}">Lista productores</a></span>
					</h4>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>