<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vista Productor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>Información del productor</h1>
		<ul>
			<div th:object="${productor}">
				<li>
					<p><a th:href="@{'/fincaForm/' + ${id}}">Registrar Finca</a></p>
					<h4>
						<span th:text="*{nombre}"></span>
					</h4>
					<h4>
						<span th:text="*{cedula}"></span>
					</h4>
					<h4>
						<span th:text="*{empresa}"></span>
					</h4>
					<h4>
						<span>Fincas</span>
						<li th:each="emp,iterationStatus  : *{fincas}">
							<h5 th:text="${emp.nombre}"></h5>
						<li>
					</h4>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>