<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario: Registro productor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Registro de nuevo productor</h1>
    <form action="#" th:action="@{/index}" th:object="${productor}" method="post">
    	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
		<p>Cedula: <input type="text" th:field="*{cedula}" /></p>
		<p>Dirección: <input type="text" th:field="*{direccion}" /></p>
		<p>Distrito: <input type="text" th:field="*{distrito}" /></p>
		<p>Cantón: <input type="text" th:field="*{canton}" /></p>
		<p>Provincia: <input type="text" th:field="*{provincia}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>